html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

#container {
  display: flex;
  height: 100vh;
}

#map {
  flex: 2;
  height: 100%;
}

#info {
  flex: 1;
  padding: 1rem;
  background: #f5f5f5;
  border-left: 1px solid #ccc;
}

.geohash-label {
  font-size: 16px; /* Make the text larger */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Change text color for better contrast */
  background-color: transparent; /* Remove the white background */
  padding: 3px; /* Optional: add a little padding around the text */
  text-align: center; /* Center the text horizontally */
  line-height: 1; /* Prevent text from stretching vertically */
  display: inline-block; /* Ensure text behaves like a block element */
}

#resetButton,
#backButton,
#geohashInputButton {
  padding: 8px 12px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

#geohashInputBox {
  margin-top: 10px;
}

#geohashInput {
  width: 140px;
  padding: 8px 12px;
  font-size: 14px;
}
